window {
  background: #111111;
  color: #FFFFFF;
}

.splits-container .current-split label {
  /* color: #069; */
}

.splits-container .even {
  background: #151515;
}

.splits-container .odd {
  background: #111111;
}

.splits-container .current-split {
  background-image: linear-gradient(0deg, #3373F4, #153574);
}

.split-container {
  padding: 5px;
}

.timer-container .seconds {
  font-size: 54px;
}

.timer-container .fraction {
  font-size: 42px;
  /* use actual gtk way of doing this... */
  padding-bottom: 3px;
}