window {
  background: #111111;
}

.splits.container .split-container.current_split {
  background: #222222;
}

.splits-container .current-split label {
  color: #069;
}

.splits-container .even {
  background: #151515;
}

.splits-container .even {
  background: #111111;
}

.splits-container .current-split {
  background: #333333;
}

.split-container {
  padding: 5px;
}

.timer-container .seconds {
  font-size: 54px;
}

.timer-container .fraction {
  font-size: 42px;
  /* use actual gtk way of doing this... */
  padding-bottom: 3px;
}